<div>
	<div class="page-title"><h1 class="text-left">AUTHORIZATION | Configuration</h1></div>
	<div class="container">
		<form>
			<div class="form-group">
				<label for="">USER NAME</label>
				<input class="form-control" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="">OLD PASSWORD</label>
				<input class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="">NEW PASSWORD</label>
				<input class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="">CONFIRM PASSWORD</label>
				<input class="form-control" placeholder="Password">
			</div>
		</form>
	</div>
</div>