<div class="page-title"><h1 class="text-left">INTU | Authorization</h1></div>
<div class="container">
	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">USER NAME</label>
			<input class="form-control" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">OLD PASSWORD</label>
			<input class="form-control" placeholder="Old Password">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">NEW PASSWORD</label>
			<input class="form-control" placeholder="New Password">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">CONFIRM PASSWORD</label>
			<input class="form-control" placeholder="New Password">
		</div>
	</form>
</div>
</div>