<div draggable=true class="card">
    <img class="card-img-top" src="../topics/fft" alt="Card image cap" style="width: 100%;max-height: 200px;">
    <div class="card-block text-pane" style="height: 200px;">
        <div class="conversation-wrapper" style="height: 80%;overflow-y: auto;">
            <p class="card-text text-left" ng-repeat="text in $root.textObjects" ng-model="text">{{ text.transcription }}</p>
        </div>
        <a href="#image1" ng-click="$root.updateType('audio');"><img class="go-right" src="img/Icon_Expand.png" style="width: 20px;margin-top: 15px;"></a>
        <!--<a href="" ng-click="$root.updateType('audio');"><img class="go-right" src="img/Icon_Expand.png" style="width: 20px;margin-top: 15px;"></a>-->
    </div>
</div>
